<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Games Info</title>
</head>
<body>

<h2>Games Info</h2>

<pre id="gameInfo"></pre>

<section>
    <div id="app" class="p-4">
        <div class="row">
            <div class="login-form">
                <form action="/examples/actions/confirmation.php" method="post">
                    <h2 class="text-center">Log in</h2>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Username" required="required">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Password" required="required">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Log in</button>
                    </div>
                    <div class="clearfix">
                        <label class="pull-left checkbox-inline"><input type="checkbox"> Remember me</label>
                        <a href="#" class="pull-right">Forgot Password?</a>
                    </div>
                </form>

            </div>
        </div>

        <div class="row">
            <div class="col-12 pb-5">
                <h2>LeaderBoard</h2>
            </div>
            <div class="col-12 pb-5">
                <table class="leaderboard table table-sm table-bordered table-striped text-center">
                    <tr class="table-dark">
                        <th>Name</th>
                        <th>Won</th>
                        <th>Tie</th>
                        <th>Lose</th>
                        <th>Points</th>
                    </tr>
                    <tr v-for="h in leaderboard">
                        <td>{{ h.userName }}</td>
                        <td>{{ h.won }}</td>
                        <td>{{ h.tie }}</td>
                        <td>{{ h.lose }}</td>
                        <td>{{ h.total }}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pb-5">
                <h2>Game List</h2>
            </div>
            <div class="col-12 pb-5">
                <ul class="games-list">
                    <li v-for="game in games" class="py-1">Date: {{game.created}}
                        <p>Players:</p>
                        <ul>
                            <li v-for="i in game.gamePlayers">{{i.player.userName}}</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</section>


<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="games.js"></script>
</body>
</html>

